<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>결과</title>
</head>
<body>
<div th:object="${student}">
    <div>
        <span>학생 이름</span>
        <span th:text="*{studentName}"></span>
    </div>
    <div>
        <span>국어</span>
        <span th:text="*{kor}"></span>
    </div>
    <div>
        <span>수학</span>
        <span th:text="*{math}"></span>
    </div>
    <div>
        <span>영어</span>
        <span th:text="*{eng}"></span>
    </div>
    <div>
        <span>총점</span>
        <span th:text="*{toal}"></span>
    </div>
    <div>
        <span>평균</span>
        <span th:text="*{average}"></span>
    </div>


</div>

</body>
</html>