<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.threetier.mapper.ProductMapper">
    <select id="getTime" resultType="String">
        SELECT CURRENT_TIMESTAMP FROM DUAL
    </select>

    <select id="selectAll" resultType="ProductVO">
        SELECT ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_BRAND
        FROM TBL_PRODUCT
    </select>

    <select id="selectById" parameterType="Long" resultType="ProductVO">
        SELECT ID, PRODUCT_NAME, PRODUCT_PRICE, PRODUCT_STOCK, PRODUCT_BRAND
        FROM TBL_PRODUCT
        WHERE ID = #{id}
    </select>

    <insert id="insert" parameterType="ProductVO">
        INSERT INTO TBL_PRODUCT
        VALUES(SEQ_PRODUCT.NEXTVAL, #{productName}, #{productPrice}, #{productStock}, #{productBrand})
    </insert>
</mapper>