<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.threetier.mapper.StudentMapper">

    <!--    추가 -->
    <insert id="insert" parameterType="StudentVO">
        <selectKey keyProperty="id" order="BEFORE" resultType="Long">
            SELECT SEQ_STUDENT.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO TBL_STUDENT
        VALUES(#{id}, #{studentName}, #{kor}, #{math}, #{eng})
    </insert>

    <!--    전체 조회 -->
    <select id="selectAll" resultType="StudentDTO">
        SELECT ID, STUDENT_NAME, KOR, MATH, ENG, TOTAL, AVG
        FROM VIEW_STUDENT
    </select>

    <!--    학생 단일 조회 -->
    <select id="select" resultType="StudentDTO">
        SELECT ID, STUDENT_NAME, KOR, MATH, ENG, TOTAL, AVG
        FROM VIEW_STUDENT
        WHERE ID = #{id}
    </select>

    <!--    점수 수정 -->
    <update id="update" parameterType="StudentVO">
        UPDATE TBL_STUDENT
        SET STUDENT_NAME = #{studentName}, KOR = #{kor}, MATH = #{math}, ENG = #{eng}
        WHERE ID = #{id}
    </update>

    <!-- 학생 데이터 삭제 -->
    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_STUDENT
        WHERE ID = #{id}
    </delete>

</mapper>