<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.threetier.mapper.TaskMapper">
    <select id="getTime" resultType="String">
        SELECT CURRENT_TIMESTAMP FROM DUAL
    </select>

    <insert id="insert" parameterType="TaskVO">
        INSERT INTO TBL_TASK
        VALUES(SEQ_PRODUCT.NEXTVAL, #{studentName}, #{scoreKor}, #{scoreMath}, #{scoreEng})
    </insert>

</mapper>