<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <!-- dto alias -->
        <typeAlias type="com.app.rest.domain.dto.PostDTO" alias="PostDTO"></typeAlias>
        <typeAlias type="com.app.rest.domain.dto.PostCreateRequestDTO" alias="PostCreateRequestDTO"></typeAlias>
        <typeAlias type="com.app.rest.domain.dto.PostUpdateRequestDTO" alias="PostUpdateRequestDTO"></typeAlias>

        <!-- vo alias -->
        <typeAlias type="com.app.rest.domain.vo.PostVO" alias="PostVO"></typeAlias>

    </typeAliases>
</configuration>