<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <typeAlias type="com.app.mybatis.domain.vo.MemberVO" alias="MemberVO"></typeAlias>
        <typeAlias type="com.app.mybatis.domain.vo.PostVO" alias="PostVO"></typeAlias>
        <typeAlias type="com.app.mybatis.domain.vo.PostLikeVO" alias="PostLikeVO"></typeAlias>

        <typeAlias type="com.app.mybatis.domain.dto.PostDTO" alias="PostDTO"></typeAlias>
        <typeAlias type="com.app.mybatis.domain.dto.PostCountDTO" alias="PostCountDTO"></typeAlias>
        <typeAlias type="com.app.mybatis.domain.dto.PostResponseDTO" alias="PostResponseDTO"></typeAlias>
    </typeAliases>
</configuration>