<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 등록</title>
</head>
<body>
    <h1>상품 등록</h1>
    <form th:action="@{/products/register}" method="post" th:object="${productVO}">
        <div>
            <span>상품 이름</span>
            <input type="text" th:field="*{productName}" />
            <span>상품 가격</span>
            <input type="text" th:field="*{productPrice}" />
            <span>상품 재고</span>
            <input type="text" th:field="*{productStock}" />
            <span>브랜드명</span>
            <input type="text" th:field="*{productBrand}" />
        </div>
        <button>상품 등록</button>
    </form>

</body>
</html>