<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
    <style>
        input {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <form th:action="@{/members/login}" method="post" th:object="${memberVO}">
        <input type="text" th:field="*{memberEmail}" placeholder="이메일" />
        <input type="password" th:field="*{memberPassword}" placeholder="비밀번호" />
        <button type="button">로그인</button>
    </form>
</body>
<script th:inline="javascript">
    const isLogin = [[${isLogin}]];
    const inputs = document.querySelectorAll("input");
    const btn = document.querySelector('button');
    const form = document.querySelector('form');

    if(isLogin !== null){
        alert("아이디 또는 비밀번호를 확인해주세요.")
    }

    btn.addEventListener('click', () => {
        for(let input of inputs) {
            if(!input.value) return alert(input.name + " 값이 없습니다.")
        }
        form.submit();
    });
</script>
</html>