<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원정보 수정</title>
    <style>
        input{
            display: block;
            margin-block: 10px;
        }
    </style>
</head>
<body>
<form th:action="@{/members/update}" method="update" th:object="${member}">
    <input type="hidden" th:field="*{id}" value="*{id}">
    <input id="memberEmail" name="memberEmail" th:value="*{memberEmail}"/>
    <input id="memberPassword" name="memberPassword" th:value="*{memberPassword}"/>
    <input id="memberName" name="memberName" th:value="*{memberName}"/>
    <button type="submit">회원 수정</button>
</form>
<script th:inline="javascript">
    const member =[[${session.member}]]
</script>
</body>
</html>